database.ini
test_config.py/
configfile/
database/
tests/venv
venv/
sample_records.py/
test_config.py/
**/ewx_logs.log/
validation_logs.log/
temp01.txt/
temp.txt/
validation_logs.log/
ewx_logs.log/
*.log
.env
*.log.*
.stations_utils.py/
*.csv*
main_daily_scripts
daily_validation_checks
*.pyc


